{%load static%}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title %}Stahni si data{%endblock%}    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/favicon.ico' %}">
    <link rel="stylesheet", href="{% static 'main/base.css' %}">
</head>
<body>
    <div class="topbar">
        <span>Stáhni si data</span>
        <a href="/">Úvodní stránka</a>
    </div>

    <div class="nadpis">
        {%block nadpis%}
        {%endblock%}
    </div>

    <div class="tabulka">
        {% block tabulka %}
        <table>
            <thead>
                <tr>
                    {% if not df.empty %}
                        {% for column in df.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if not df.empty %}
                    {% for row in df.values %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">Excel file not found or could not be loaded.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% endblock %}
    </div>
    <div class="stahnout">
        {%block stahnout%}
        <a href="{% static odkazy.0.1 %}" download>
            <button type="button">Stahnout CSV</button>
        </a>
        <a href="{% static odkazy.1.1 %}" download>
            <button type="button">Stahnout XLSX</button>
        </a>
        {%endblock%}
    </div>
    <div class="other">
        {%block content%}
        {%endblock%}
    </div>
</body>



</html>