{% extends "main/base.html" %}
{% block title %}Home{%endblock%}

{%block stahnout%}
{%endblock%}
{% block content%}
<p>Home</p>

    Vyber si data:
    <form action= "", method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit", value="zvolit", name = "Zvolit">Zvolit</button>
    </form>
<p>
    UPDATE Pondělí 16.10.2023 22:20 - Odstranění zbytkové stránky PocasiP<br>
    Přidána možnost stahovat soubory - localhost funguje, zkouška serveru<br>
    Funguje i na serveru
</p>
{% endblock %}
